<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" href="css/header.css">
</head>
<body>
  <header th:fragment="header">
    <link rel="stylesheet" href="css/header.css">
    <div class="logo">
      <img src="https://api.logomaster.ai/logo-template-preview/preview-template-10043.svg" alt="">
    </div>
    <div class="menu">
      <div class="menu__item">
        <a href="">Home</a>
      </div>
      <div class="menu__item">
        <a href="`">Shop</a>
      </div>
      <div class="menu__item">
        <a href="`">About</a>
      </div>
      <div class="menu__item">
        <a href="`">Policy</a>
      </div>
    </div>
    <div class="searchBox">
      <img src="images/search.svg" alt="">
      <p>Search</p>
    </div>
    <div class="user">
      <div class="user__account">
        <div class="user__account__avatar">
          <img src="https://raw.githubusercontent.com/bedimcode/responsive-portfolio-website-Alexa/main/assets/img/perfil.png" alt="">
        </div>
        <div class="user__account__information">
          <div class="user__account__userName">
            <p>JeremyWoods</p>
          </div>
          <div class="user__account__email">
            <p>jeremy@gmail.com</p>
          </div>
        </div>
      </div>
      <div class="user__setting">
        <img src="images/setting.svg" alt="">
      </div>
    </div>
  </header>
</body>
</html>