<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" href="css/shop.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a914f93d25.js" crossorigin="anonymous"></script>
</head>
<body>

    <header>
        <div class="logo">
            <img src="https://api.logomaster.ai/logo-template-preview/preview-template-10043.svg" alt="">
        </div>
        <div class="menu">
            <div class="menu__item">
                <a href="">Home</a>
            </div>
            <div class="menu__item">
                <a href="`">Shop</a>
            </div>
            <div class="menu__item">
                <a href="`">About</a>
            </div>
            <div class="menu__item">
                <a href="`">Policy</a>
            </div>
        </div>
        <div class="searchBox">
            <img src="images/search.svg" alt="">
            <p>Search</p>
        </div>
        <div class="user">
            <div class="user__account">
                <div class="user__account__avatar">
                    <img src="https://raw.githubusercontent.com/bedimcode/responsive-portfolio-website-Alexa/main/assets/img/perfil.png" alt="">
                </div>
                <div class="user__account__information">
                    <div class="user__account__userName">
                        <p>JeremyWoods</p>
                    </div>
                    <div class="user__account__email">
                        <p>jeremy@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="user__setting">
                <img src="images/setting.svg" alt="">
            </div>
        </div>
    </header>
    <div class="container">
        <div class="container__searchBox">
            <input type="text" placeholder="Search products">
            <div class="searchButton">
                <p>Search</p>
            </div>
        </div>
        <div class="container__main">
            <div class="main__left">
                <div class="filter">
                    <div class="filterConfig">
                        <div class="filterButton">
                            <img src="images/filter.svg" alt="">
                            <p>Filter</p>
                        </div>
                        <div class="clearFilter">
                            <p>Clear</p>
                        </div>
                    </div>
                    <div class="sizeFilter">
                        <p class="filterTitle">Size</p>
                        <div class="sizeContainer">
                            <div class="sizeItem">S</div>
                            <div class="sizeItem">M</div>
                            <div class="sizeItem">L</div>
                            <div class="sizeItem">XL</div>
                            <div class="sizeItem">XXL</div>
                        </div>
                    </div>
                    <div class="colorFilter">
                        <p class="filterTitle">Color</p>
                        <div class="colorContainer">
                            <div class="colorItem"></div>
                            <div class="colorItem"></div>
                            <div class="colorItem"></div>
                            <div class="colorItem"></div>
                            <div class="colorItem"></div>
                        </div>
                    </div>
                    <div class="priceFilter">
                        <p class="filterTitle">Price</p>
                        <p class="priceRange">
                            <span id="range1">0k</span>
                             - 
                            <span id="range2">5.000k</span>
                        </p>
                        <div class="wrapper rangeSlider">
                            <div class="sliderContainer">
                                <div class="slider-track"></div>
                                <input type="range" min="0" max="5000" value="0" id="slider-1" oninput="slideOne()">
                                <input type="range" min="0" max="5000" value="5000" id="slider-2" oninput="slideTwo()">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main__right">
                <div class="main__top">
                    <div class="categorySelector">
                        <p>Category: </p>
                        <select name="categorySelector" id="categorySelector">
                            <option value="-1">All</option>
                            <option th:each="category: ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                        </select>
                    </div>
                    <div class="productTypeSelector">
                        <p>Product type: </p>
                        <select name="productTypeSelector" id="productTypeSelector">
                            <option value="-1">All</option>
                            <option th:each="productType: ${productTypes}" th:value="${productType.id}" th:text="${productType.name}"></option>
                        </select>
                    </div>
                    <div class="sortBy">
                        <p>Sort by: </p>
                        <select name="sortSelector" id="sortSelector">
                            <option value="0">Nope</option>
                            <option value="1">A to Z</option>
                            <option value="2">Z to A</option>
                            <option value="3">Price low to high</option>
                            <option value="4">Price high to low</option>
                        </select>
                    </div>
                </div>
                <div class="main__content">
                    <div class="productContainer">
                    </div>
                </div>
                <div class="main__bottom">
                    <div class="pageHeading firstPage">
                        <p>First page</p>
                    </div>
                    <div class="pageNumberContainer">
                    </div>
                    <div class="pageHeading lastPage">
                        <p>Last page</p>
                    </div>
                    <div class="pageHeading pageInfo">
                        <p>1 / 16</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="js/shop.js"></script>
</html>