<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" href="css/shop.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a914f93d25.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="logo">
            <img src="https://api.logomaster.ai/logo-template-preview/preview-template-10043.svg" alt="">
        </div>
        <div class="menu">
            <div class="menu__item">
                <a href="">Home</a>
            </div>
            <div class="menu__item">
                <a href="`">Shop</a>
            </div>
            <div class="menu__item">
                <a href="`">About</a>
            </div>
            <div class="menu__item">
                <a href="`">Policy</a>
            </div>
        </div>
        <div class="searchBox">
            <p>Search</p>
        </div>
        <div class="user">
            <div class="user__account">
                <div class="user__account__avatar">
                    <img src="https://raw.githubusercontent.com/bedimcode/responsive-portfolio-website-Alexa/main/assets/img/perfil.png" alt="">
                </div>
                <div class="user__account__information">
                    <div class="user__account__userName">
                        <p>JeremyWoods</p>
                    </div>
                    <div class="user__account__email">
                        <p>jeremy@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="user__setting"></div>
        </div>
    </header>
    <div class="container">
        <div class="container__searchBox">
            <input type="text" placeholder="Search products">
            <div class="searchButton">
                <p>Search</p>
            </div>
        </div>
        <div class="container__main">
            <div class="main__left">
                <div class="filter">
                    <div class="sizeFilter">
                        <p class="filterTitle">Size</p>
                        <div class="sizeContainer">
                            <div class="sizeItem">S</div>
                            <div class="sizeItem">M</div>
                            <div class="sizeItem">L</div>
                            <div class="sizeItem">XL</div>
                            <div class="sizeItem">XXL</div>
                        </div>
                    </div>
                    <div class="colorFilter">
                        <p class="filterTitle">Color</p>
                        <div class="colorContainer">
                            <div class="colorItem"></div>
                            <div class="colorItem"></div>
                            <div class="colorItem"></div>
                            <div class="colorItem"></div>
                            <div class="colorItem"></div>
                        </div>
                    </div>
                    <div class="priceFilter">
                        <p class="filterTitle">Price</p>
                    </div>
                </div>
            </div>
            <div class="main__right">
                <div class="main__top">
                    <div class="categorySelector">
                        <p>Category</p>
                    </div>
                    <div class="productTypeSelector">
                        <p>Product type</p>
                    </div>
                </div>
                <div class="main__content">
                    <div class="productContainer">
                        <div class="productItem">
                            <div class="productImage">
                                <img src="https://product.hstatic.net/200000260587/product/zve02401_1734156f83e041208f0e384758d809f0_master.png" alt="">
                                <div class="favorite">
                                    <i class="fa-solid fa-heart"></i>
                                </div>
                                <div class="addToCart">
                                    <p>Add to cart</p>
                                    <!-- <i class="fa-solid fa-plus"></i> -->
                                </div>
                            </div>
                            <div class="productInformation">
                                <div class="productPrice">
                                    <p>240.000đ</p>
                                </div>
                                <div class="productName">
                                    <p>HardMode</p>
                                </div>
                            </div>
                        </div>
                        <div class="productItem">
                            <div class="productImage">
                                <img src="https://product.hstatic.net/200000260587/product/zve02401_1734156f83e041208f0e384758d809f0_master.png" alt="">
                                <div class="favorite">
                                    <i class="fa-solid fa-heart"></i>
                                </div>
                                <div class="addToCart">
                                    <p>Add to cart</p>
                                    <!-- <i class="fa-solid fa-plus"></i> -->
                                </div>
                            </div>
                            <div class="productInformation">
                                <div class="productPrice">
                                    <p>240.000đ</p>
                                </div>
                                <div class="productName">
                                    <p>HardMode</p>
                                </div>
                            </div>
                        </div>
                        <div class="productItem">
                            <div class="productImage">
                                <img src="https://product.hstatic.net/200000260587/product/zve02401_1734156f83e041208f0e384758d809f0_master.png" alt="">
                                <div class="favorite">
                                    <i class="fa-solid fa-heart"></i>
                                </div>
                                <div class="addToCart">
                                    <p>Add to cart</p>
                                    <!-- <i class="fa-solid fa-plus"></i> -->
                                </div>
                            </div>
                            <div class="productInformation">
                                <div class="productPrice">
                                    <p>240.000đ</p>
                                </div>
                                <div class="productName">
                                    <p>HardMode</p>
                                </div>
                            </div>
                        </div>
                        <div class="productItem">
                            <div class="productImage">
                                <img src="https://product.hstatic.net/200000260587/product/zve02401_1734156f83e041208f0e384758d809f0_master.png" alt="">
                                <div class="favorite">
                                    <i class="fa-solid fa-heart"></i>
                                </div>
                                <div class="addToCart">
                                    <p>Add to cart</p>
                                    <!-- <i class="fa-solid fa-plus"></i> -->
                                </div>
                            </div>
                            <div class="productInformation">
                                <div class="productPrice">
                                    <p>240.000đ</p>
                                </div>
                                <div class="productName">
                                    <p>HardMode</p>
                                </div>
                            </div>
                        </div>
                        <div class="productItem">
                            <div class="productImage">
                                <img src="https://product.hstatic.net/200000260587/product/zve02401_1734156f83e041208f0e384758d809f0_master.png" alt="">
                                <div class="favorite">
                                    <i class="fa-solid fa-heart"></i>
                                </div>
                                <div class="addToCart">
                                    <p>Add to cart</p>
                                    <!-- <i class="fa-solid fa-plus"></i> -->
                                </div>
                            </div>
                            <div class="productInformation">
                                <div class="productPrice">
                                    <p>240.000đ</p>
                                </div>
                                <div class="productName">
                                    <p>HardMode</p>
                                </div>
                            </div>
                        </div>
                        <div class="productItem">
                            <div class="productImage">
                                <img src="https://product.hstatic.net/200000260587/product/zve02401_1734156f83e041208f0e384758d809f0_master.png" alt="">
                                <div class="favorite">
                                    <i class="fa-solid fa-heart"></i>
                                </div>
                                <div class="addToCart">
                                    <p>Add to cart</p>
                                    <!-- <i class="fa-solid fa-plus"></i> -->
                                </div>
                            </div>
                            <div class="productInformation">
                                <div class="productPrice">
                                    <p>240.000đ</p>
                                </div>
                                <div class="productName">
                                    <p>HardMode</p>
                                </div>
                            </div>
                        </div>
                        <div class="productItem">
                            <div class="productImage">
                                <img src="https://product.hstatic.net/200000260587/product/zve02401_1734156f83e041208f0e384758d809f0_master.png" alt="">
                                <div class="favorite">
                                    <i class="fa-solid fa-heart"></i>
                                </div>
                                <div class="addToCart">
                                    <p>Add to cart</p>
                                    <!-- <i class="fa-solid fa-plus"></i> -->
                                </div>
                            </div>
                            <div class="productInformation">
                                <div class="productPrice">
                                    <p>240.000đ</p>
                                </div>
                                <div class="productName">
                                    <p>HardMode</p>
                                </div>
                            </div>
                        </div>
                        <div class="productItem">
                            <div class="productImage">
                                <img src="https://product.hstatic.net/200000260587/product/zve02401_1734156f83e041208f0e384758d809f0_master.png" alt="">
                                <div class="favorite">
                                    <i class="fa-solid fa-heart"></i>
                                </div>
                                <div class="addToCart">
                                    <p>Add to cart</p>
                                    <!-- <i class="fa-solid fa-plus"></i> -->
                                </div>
                            </div>
                            <div class="productInformation">
                                <div class="productPrice">
                                    <p>240.000đ</p>
                                </div>
                                <div class="productName">
                                    <p>HardMode</p>
                                </div>
                            </div>
                        </div>
                        <div class="productItem">
                            <div class="productImage">
                                <img src="https://product.hstatic.net/200000260587/product/zve02401_1734156f83e041208f0e384758d809f0_master.png" alt="">
                                <div class="favorite">
                                    <i class="fa-solid fa-heart"></i>
                                </div>
                                <div class="addToCart">
                                    <p>Add to cart</p>
                                    <!-- <i class="fa-solid fa-plus"></i> -->
                                </div>
                            </div>
                            <div class="productInformation">
                                <div class="productPrice">
                                    <p>240.000đ</p>
                                </div>
                                <div class="productName">
                                    <p>HardMode</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>